$color-paper: #fff1e5;
$color-header-bg:#f2e0d0;
$color-white: #fff;
$color-block: #333;
$color-blue: #26747a;
$color-border: #777;
$color-header-border: #9E2F50;
$color-input-border: #cec6b9;
$color-button-bgColor: #0470bc;
$color-button-wx:#6eb153;
$color-a: #2e6e9e;
$color-h2: #666666;
$color-right:#F6E9D8;